VITE_SUPABASE_URL=https://XXXXXXXXXXXX.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGci...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...
ASAAS_API_KEY=$aact_...
API_FOOTBALL_KEY=sua_chave_api_football
CALLMEBOT_KEY=sua_chave_callmebot
